---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import ResumeFrontEnd from "../components/ResumeFrontEnd.astro";
import ResumeBackEnd from "../components/ResumeBackEnd.astro";

const onedots = "https://www.coolfreecv.com/images/icon/one0C53A4.png";
const twodots = "https://www.coolfreecv.com/images/icon/two0C53A4.png";
const threedots = "https://www.coolfreecv.com/images/icon/three0C53A4.png";
const fourdots = "https://www.coolfreecv.com/images/icon/four0C53A4.png";
const fivedots = "https://www.coolfreecv.com/images/icon/five0C53A4.png";

const gonedots= "https://www.coolfreecv.com/images/icon/one21A021.png"
const gtwodots= "https://www.coolfreecv.com/images/icon/two21A021.png"
const gthreedots= "https://www.coolfreecv.com/images/icon/three21A021.png"
const gfourdots= "https://www.coolfreecv.com/images/icon/four21A021.png"
const gfivedots= "https://www.coolfreecv.com/images/icon/five21A021.png"
const focused = "";

---
<Layout title="Resume" />
<container class="grid grid-cols-3 justify-items-center">
<ResumeFrontEnd />
<p>Click On A Skill To See Related Projects</p>

  <ResumeBackEnd />
</container>
<style>
    img {
        width: 90px;
        height: 18px;
        object-fit: cover;
    }
</style>
